body { 
	font-family: 'Roboto', sans-serif;
	position: relative; margin: 10px; padding: 0; background:#000; color:#fff; 
}

header { font-weight: bold; border-bottom:1px solid grey; padding-top:5ex; padding-bottom:1ex; }

nav {
	display: flex;
	width: 100%;
}

.alignleft { width:33.33333%; text-align:left; }
.aligncenter { width:33.33333%; text-align:center; }
.alignright { width:33.33333%; text-align:right; }


a[name="ui_home"] {
	font-size:x-large; 
	text-decoration:underline;
  }

#play_newgame_button {
	background:red;
}

#ui_stats center {
	font-size:xx-large;
}

.alignright span:hover { transform: scale(1.2); }

.textblock {
	border:1px solid white; 
	width:50%; 
	padding:1ex;
	margin: 1ex auto 1ex auto;
}

.letterbox td {
	text-align: center;
	border:1px solid grey;
	width:3ex;
	height:3ex;
}

.keyboardrow td {
	text-align: center;
	border:1px solid grey;
	width:3ex;
	height:3ex;
}

.ui_top h2 {
	text-align: center;
}

a[name="ui_home"].ui_home, 
a[name="ui_username"] span.ui_username,
a[name="ui_play"] span.ui_play,
a[name="ui_stats"] span.ui_stats,
a[name="ui_instructions"] span.ui_instructions {
	color: #6f6;
	background: #000;
}

.seen {
	background-color: gray;
}
.matched_wrong {
	background-color: orange;
}
.matched_right {
	background-color: green;
}

#error_popup {
	position: fixed;
	overflow-y: auto;
	z-index: 1;
	right: 0;
	top: 0;
	margin: 10px;
	background-color: rgba(255, 0, 0, 0.5);
	border: 1px solid white;
	width: 25%;
	height: 0; 
	padding-bottom: 10%;
}

#end_popup {
	position: fixed;
	z-index: 1;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 255, 0.5);
	border: 1px solid white;
}

#end_popup .close {
	background-color: red;
	color: white;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0;
}

#end_minimized {
	position: fixed;
	height: auto;
	width: auto;
	left: 0;
	bottom: 0;
	color: white;
	border: 1px solid white;
	background-color: navy;
}

.example_row {
	display: flex;
}

.example_row td{
	flex-grow: 1;
	text-align: center;
	border: solid white;
}

.example_table{
	width: 30%;
}
